* {
	box-sizing: border-box;
}

body,
h1,
h2 {
	margin: 0;
}

img {
	display: block;
}

a {
	text-decoration: none;
}

ul,
ol {
	list-style: none;
	padding: 0;
	margin: 0;
}
:root {
	--main-font: 'Open Sans', sans-serif;
}