* {
	box-sizing: border-box;
}

body,
h1,
h2 {
	margin: 0;
}

img {
	display: block;
}

a {
	text-decoration: none;
}

ul,
ol {
	list-style: none;
	padding: 0;
	margin: 0;
}
:root {
	--main-font: 'Open Sans', sans-serif;
}

header {
	display: flex;
	flex-direction: column;
	justify-content: center;
	text-align: center;
	width: 100%;
	height: 100%;
	background-color: #1d2126;
}

.container {
	padding: 0 15px;
	width: 100%;
	margin: 0 auto;

	@media screen and (min-width: 480px) {
		width: 480px;
	}

	@media screen and (min-width: 768px) {
		width: 768px;
	}

	@media screen and (min-width: 1200px) {
		width: 1200px;
	}
}

.row {
	margin-left: -15px;
	margin-right: -15px;
	display: flex;
	flex-wrap: wrap;
	flex-direction: column;
	align-items: center;
	@media screen and (min-width: 480px) {
		flex-direction: column;
	}
	@media screen and (min-width: 1200px) {
		flex-direction: row;
	}
}

[class*="col-"] {
	padding-left: 15px;
	padding-right: 15px;
}

.col-xs-12 {
	flex: 0 0 100%;
	max-width: 100%;
}

/*md(laptop)*/

@media (min-width: 768px) {
	.col-md-2 {
		flex: 0 0 16.66667%;
		max-width: 16.66667%;
	}

	.col-md-8 {
		flex: 0 0 66.66667%;
		max-width: 66.66667%;
	}
}

/*sm(tablet)*/

@media (max-width: 767px) {
	.hidden-xs {
		display: none;
	}
	.menu {
		overflow-x: scroll;
	}
}
.logo {
	// margin-right: 180px;
	align-items: center;
}
.menu {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	width: 100%;
	color: white;
}

.menu-link {
	padding: 8px 9px;
	font-family: var(--main-font);
	font-weight: 600;
	font-size: 14px;
	line-height: 3;
	text-transform: uppercase;
	color: #a4aead;
	border-radius: 2px;
	border: 2px solid transparent;
}

.menu-link.current {
	color: #23b7a4;
	border: 2px solid #23b7a4;
}

.menu-link:hover,
.menu-link:focus {
	border: 2px solid #5b6168;
}

.search-input {
	/* margin-left: 97px; */
	padding: 7px 8px;
	width: 195px;
	height: 30px;
	font-family: var(--main-font);
	font-weight: 600;
	font-size: 14px;
	line-height: 3;
	text-transform: uppercase;
	color: #a4aead;
	background-color: #1d2126;
	outline: none;
	border-radius: 2px;
	border: 2px solid #a4aead;
}

.search-input:hover,
.search-input:focus {
	border-color: #a4aead;
}
